nav
{
    border: black solid 1px;
    width: 130px;
    float: left;
    margin-bottom: 1px;
    display: inline-block;
    vertical-align: 150px;
}
section
{
    border: blue solid 1px;
    /*float:none;*/
    /*margin-left: 130px;*/
    display: inline-block;
    vertical-align: 150px;
    text-decoration: crimson;


}
aside
{
    width: 100%;


}
article{
    width: 70%;

}
footer{
    /*clear: both;*/
    width: 10%;
}
a{
    display: block;
}
p{
    text-decoration-color: blue;
}
h1{
    text-decoration-color: blue;
}